
.question {
    margin-bottom: 20px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 300px;
 
}


.progress-bars-container {
    margin-bottom: 15px;

}

.progress-bar-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
}

.progress-bar-wrapper {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5px;
    height: 10px;
    /* Reduced height */
}

.progress-bar {
    height: 100%;
    background-color: transparent;
    transition: width 0.3s, background-color 0.3s;
}

.progress-bar.filled {


    background-color: #20adb4;
}

.progress-bar-label {
    font-size: 12px;
    text-align: center;
    color: #333;
}

.slider-container {
    margin-top: 20px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    /* Adjust height as needed */
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}


.slider::-webkit-slider-runnable-track {
    background: linear-gradient(to right, var(--track-color, #ddd) 0%, var(--track-color, #ddd) var(--fill-width, 0%), #ddd var(--fill-width, 0%));
    width: 100%;
   
}


.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;

    height: 10px;
   
    border-radius: 50%;
    background: #20adb4;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider::-moz-range-thumb {
    width: 5px;
    
    height: 20px;
 
    border-radius: 50%;
    background: #20adb4;
    cursor: pointer;
    transition: background-color 0.3s;
}


.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.button-container button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #20adb4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #6fa9b5;
}


.labels {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.labels span {
    flex: 1;
    text-align: center;
    font-size: 22px;
    color: #666;
}
